@mixin flex($flex_dir,$flex_justify,$align_items){
    display: flex;
    flex-direction: $flex_dir;
    justify-content: $flex_justify;
    align-items: $align_items;
}
@mixin font($weight,$font-size, $line-height){
    font-style: normal;
    font-weight: $weight;
    font-size: $font-size;
    line-height: $line-height;
}
