@mixin position($flex,$flex_d,$flex_cont,$flex_align){
    display: $flex;
    flex-direction: $flex_d;
    justify-content: $flex_cont;
    align-items: $flex_align;
}
.header{
    @include position(flex,row,space-between,center);
    padding: 24px 320px 0;
    z-index: 1000;
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
}
.header__menu{
    @include position(flex,row,flex-end,center);
    padding: 0px;
    gap: 40px;
    height: 48px;
    flex: none;
}
.menu__element{
    text-decoration: none;
    color: black;
    transition: color 0.25s;
}
.menu__phone-icon{
    @include position(flex,row,center,center);
    box-sizing: border-box;
    padding: 12px 24px;
    gap: 4px;
    width: 209px;
    height: 48px;
    border: 1px solid #222222;
    border-radius: 32px;
    flex: none;
    order: 3;
    flex-grow: 0;
    text-decoration: none;
    color: black;
    transition: color 0.25s;
}
.menu__element:hover{
    color: #0044FF;
}
.menu__phone-icon:hover{
    color: #0044FF;
    border-color: #0044FF;
}