@use "../general/mixin";

.header{
    @include mixin.flex(row,space-between,center);
    box-sizing: border-box;
    padding: 16rem 56rem;
    gap: 217rem;
    width: 1921rem;
    background: #FFFFFF;
    border-bottom: 1rem solid #D5E3FF;
    @include mixin.laptop{
        height: 104rem;
        width: 1366rem;
        gap: 44rem;
    }
    @include mixin.tablet{
        box-sizing: border-box;
        @include mixin.flex(row,space-between,flex-start);
        padding: 16rem 40rem;
        gap: 0rem;
        width: 768rem;
        height: 88rem;
    }
    @include mixin.phone{
        @include mixin.flex(row,space-between,center);
        padding: 16rem;
        gap: 0rem;
        width: 360rem;
        height: 80rem;
        flex: none;

    }
    &__logo{
        width: 346rem;
        height: 56rem;
        @include mixin.laptop{
            width: 199rem;
            height: 56rem;
        }
        @include mixin.tablet{
            width: 199rem;
            height: 56rem;
        }
        @include mixin.phone{
            width: 171rem;
            height: 48rem;
        }
    }
    &__icon{
        width: 199rem;
        height: 56rem;
        @include mixin.phone{
            width: 171rem;
            height: 48rem;
        }
    }
    &__menu{
        width: 715rem;
        height: 32rem;
        @include mixin.flex(row,none,center);
        gap: 32rem;
        @include mixin.laptop{
            position: relative;
            top: 8rem;
            row-gap: 0;
            flex-wrap: wrap;
            flex: none;
            width: 600rem;
            height: 64rem;
        }
        @include mixin.tablet{
            display: none;
        }
        @include mixin.phone{
            display: none;
        }
    }
    &__link{
        text-decoration: none;
        font-style: normal;
        font-weight: 700;
        font-size: 16rem;
        line-height: 24rem;
        text-transform: uppercase;
        font-feature-settings: 'ss01' on;
        color: #2F2F2F;
    }
    &__buttons{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 24rem;
        position: relative;
        width: fit-content;
        @include mixin.tablet{
            display: none;
        }
        @include mixin.phone{
            display: none;
        }

    }
    &__menu_btn{
        @include mixin.wide{
            display: none;
        }
        @include mixin.laptop{
            display: none;
        }
        @include mixin.tablet{
            display: flex;
            width: 125rem;
            height: 56rem;
        }
        @include mixin.phone{
            display: flex;
            width: 125rem;
            height: 48rem;
        }
    }
}
