@mixin position($flex,$flex_d,$flex_cont,$flex_align){
    display: $flex;
    flex-direction: $flex_d;
    justify-content: $flex_cont;
    align-items: $flex_align;
}
@mixin size($height,$width){
    width: $width;
    height: $height;
}
@mixin copy($margin){
    margin: 0 auto;
    font-family: 'Geologica';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    margin-right: 21%;
}
@mixin font($weight,$size,$height){
    font-family: 'Geologica';
    font-style: normal;
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
}
.footer{
    @include position(flex, column, none, flex-start);
    @include size(672px,none);
    display: flex;
}
 .footer__contacts{
    @include position(flex,row, center, flex-end);
    @include size(592px,none);
    box-sizing: border-box;
    padding: 240px 320px;
    gap: 56px;
    background: #141414;
    border-bottom: 1px solid #2E2E2E;
    flex: none;
    align-self: stretch;
    transition: color 0.25s;
}

.contacts__group1,.contacts__group2{
    @include position(flex,column, none, flex-start);
    @include size(112px,427.5px);
    gap: 16px;

}

.contacts__mail-and-time{
    @include position(flex,column, end, flex-start);
    @include size(120px,313px);
    gap: 10px;
    width: 313px;
    height: 120px;
}

.contacts__group1__p{
    @include size(24px,427.5px);
    @include font(250,16px,24px);
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
    align-self: stretch;
}

.contacts__group2__p{
    @include size(24px,427.5px);
    @include font(250,16px,24px);
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
    align-self: stretch;
    
}
.contacts__group1__social-media, .contacts__group2__social-media{
    @include position(flex,row, none, center);
    @include size(24px,103px);
    gap: 4px;
}
.num_ph{
    text-decoration: none;
    color: #FFFFFF;
    transition: color 0.25s;
}
.contacts__group1__phone-number, .contacts__group2__phone-number{
    @include position(flex,row, center, center);
    @include size(40px,265px);
    @include font(600,32px,40px);
    color: #FFFFFF;
    gap: 8px;
    transition: color 0.25s;
}
.contacts__group__social-media__telegram{
    @include position(flex,row, none, center);
    @include size(24px,103px);
    text-decoration: none;
    color: rgb(255, 255, 255);
    gap: 4px;
    transition: color 0.25s;
}
.contacts__group__social-media__whatsapp{
    @include position(flex,row, none, center);
    @include size(24px,113px);
    text-decoration: none;
    color: rgb(255, 255, 255);
    gap: 4px;
    order: 1;
    transition: color 0.25s;
}
.footer__contacts__mail-and-time__mail{
    @include position(flex,row, none, center);
    @include size(24px,134px);
    gap: 4px;
    color: #ffffff;
    transition: 0.15s linear;
    transition: color 0.25s;
    text-decoration: none;
}
.footer__contacts__mail-and-time__time{
    @include size(24px,313px);
    @include font(300,16px,24px);
    font-feature-settings: 'ss01' on;
    color: #FFFFFF;
    transition: color 0.25s;
}
.footer__copyrights{
    @include position(flex,row, space-between, center);
    @include size(80px,none);
    background: #141414;
    gap: 32px;
    order: 1;
    align-self: stretch;
}
.footer__copyrights__p{
    @include size(16px,223px);
    @include copy(17%)
}
.footer__copyrights__p2{
    @include size(16px,223px);
    @include copy(21%)
}
.container_phone_icon:hover{
    background-color: #3369FF;
}
.footer__contacts__mail-and-time__mail:hover{
    color: #0044FF;
}
.num_ph:hover{
    color: #0044FF;
}
