@use "../general/mixin";

.button {
    @include mixin.flex(row,center,center);
    padding: 16rem 24rem;
    gap: 4rem;
    width: 157rem;
    height: 56rem;
    background: #2244AA;
    border-radius: 6rem;
    position: relative;


    &_span {
        @include mixin.font(700,16rem, 24rem);
        display: flex;
        align-items: center;
        letter-spacing: 0.02rem;
        color: #FFFFFF;
    }
    &__icon {
        @include mixin.flex(row,center,center);
        position: relative;
        width: 24rem;
        height: 24rem;
        color: #FFFFFF;
        &_i{
            font-size: 16.02rem;
        }

    }
}
.button-stroke {
    @include mixin.flex(row,center,center);
    box-sizing: border-box;
    width: 177rem;
    height: 56rem;
    background-color: #FFFFFF;
    border: 2rem solid #44BBFF;
    border-radius: 6rem;
    &_span {
        @include mixin.font(700,16rem, 24rem);
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        color: #44BBFF;
    }
    &__icon {
        @include mixin.flex(row,center,center);
        position: relative;
        width: 24rem;
        height: 24rem;
        color: #44BBFF;
        &_i{
            font-size: 16.02rem;
        }

    }
}
