@use "../general/mixin";
.clients{
    @include mixin.flex(column,none,none);
    gap: 48rem;
    position: relative;
    @include mixin.phone{
        height: 664rem;
    }

    &__heading{
        @include mixin.font(300,40rem,48rem);
        @include mixin.flex(none,none,center);
        gap: 10rem;
        position: relative;
        width: 292rem;
        height: 48rem;
        left: 232rem;
        font-family: 'Rubik';
        color: #2244AA;
        @include mixin.laptop{
            left:48rem;
        }
        @include mixin.tablet{
            left:24rem;
        }
        @include mixin.phone{
            left:16rem;
            font-size: 24rem
        }
    }
    &__cards{
        @include mixin.flex(column,none,flex-start);
        gap: 32rem;
        position: relative;
        width: 1456rem;
        height: 400rem;
        left: 232rem;
        @include mixin.laptop{
            left:48rem;
            width: 1306rem;
            height: 544rem;
        }
        @include mixin.tablet{
            width: 720rem;
            height: 832rem;
            left: 24rem;
        }
        @include mixin.phone{
            @include mixin.flex(row,none,none);
            width: 344rem;
            height: 180rem;
            left: 16rem;
            overflow: auto;

        }
    }
    &__1{
        @include mixin.flex(row,none,flex-start);
        gap: 32rem;
        flex-wrap: wrap;

        @include mixin.laptop{
            width: 1270rem;
        }
        @include mixin.phone{
            flex-wrap: nowrap;
        }

    }
    &__element{
        @include mixin.flex(column,center,center);
        background-color: white;
        box-shadow: 0rem 6rem 25rem rgba(145, 151, 183, 0.25);
        border-radius: 8rem;
        height: 184rem;
        width: 216rem;
        @include mixin.laptop{
            width: 293rem;
            height: 160rem;
        }
        @include mixin.phone{
            width: 216rem;
            height: 160rem;
        }
        &_img{
            width: 160rem;
            height: 64rem;
        }
        &_p{
            width: 184rem;
            height: 48rem;
            @include mixin.font(400,16rem,24rem);
            text-align: center;
            color: #2F2F2F;
        }
        &_ul {
            @include mixin.flex(column,none,none);
            gap: 10rem;
            padding-left: 16rem;
            box-sizing: border-box;
        }
        &_li{
            &::marker{
                color: #2244AA;
            }
            list-style-type:disc;
            width: 320rem;
            @include mixin.font(400,16rem,24rem);
            color: #44454B;
            @include mixin.laptop{
                width:293rem;
            }
            @include mixin.tablet{
                width: 344rem;
            }
            @include mixin.phone{
                width: 328rem;
            }
        }
    }
    &__company{
        @include mixin.flex(column,none,none);
        position: relative;
        left: 232rem;
        width: 1456rem;
        @include mixin.laptop{
            left:48rem;
            width: 1306rem;
        }
        @include mixin.tablet{
            width: 720rem;
            left: 24rem;
        }
        @include mixin.phone{
            width: 328rem;
            left: 16rem;
        }
    }
    &__list{
        @include mixin.flex(row,none,flex-start);
        padding: 0rem;
        gap: 32rem;
        width: 1456rem;
        height: 224rem;
        position: relative;
        left: 20rem;
        @include mixin.laptop{
            width: 294rem;
            gap: 8rem;

        }
        @include mixin.tablet{
            width: 720rem;
            overflow: auto
        }
        @include mixin.phone{
            width: 312rem;
            overflow: auto
        }
    }
    &__paginator{
        @include mixin.flex(row,none,center);
        gap: 16rem;
        position: relative;
        width: 198rem;
        height: 40rem;
    }
    &__pattern{
        z-index: -100;
        position: absolute;
        width: 353rem;
        height: 447rem;
        top: 120rem;
        @include mixin.laptop{
            position: absolute;
            width: 310rem;
            height: 392rem;
            top: -69rem;

        }
        @include mixin.phone{
            display: none;
        }
    }

}

