@use "../general/mixin";

.cover {
    width: 1920rem;
    height: 768rem;
    position: relative;
    &__text-big {
        position: absolute;
        top: 152rem;
        left: 232rem;
        width: 712rem;
        height: 192rem;
        @include mixin.font(700,56rem,64rem);
        letter-spacing: -0.02rem;
        color: #2244AA;
    }
    &__text-small {
        position: absolute;
        top: 368rem;
        left: 232rem;
        width: 399rem;
        height: 32rem;
        @include mixin.font(400,20rem,32rem);
        @include mixin.flex(none,none,center);
        color: #44454B;
    }
    &__buttons {
        position: absolute;
        top: 440rem;
        left: 232rem;
        @include mixin.flex(row,none,flex-start);
        gap: 24rem;
        width: 611rem;
        height: 56rem;

    }
    &__consultation {
        width: 279rem;
        height: 56rem;
    }
    &__tender {
        width: 308rem;
        height: 56rem;
    }
    &__ilustration {
        position: absolute;
        width: 831rem;
        left: 1089rem;
    }
    &__shadow-of-the-castle {
        position: absolute;
        width: 1920rem;
        top: 364rem;
        z-index: -100;
    }
}
