@use "../general/mixin";

.cover {
    width: 1920rem;
    height: 768rem;
    position: relative;
    @include mixin.laptop{
        width: 1366rem;
        height: 584rem;

    }
    @include mixin.tablet{
        width: 768rem;
        height: 1088rem;

    }
    @include mixin.phone{
        width: 360rem;

    }
    &__text-big {
        position: absolute;
        top: 152rem;
        left: 232rem;
        width: 712rem;
        height: 192rem;
        @include mixin.font(700,56rem,64rem);
        letter-spacing: -0.02rem;
        color: #2244AA;
        @include mixin.laptop{
            @include mixin.font(700,48rem,56rem);
            width: 616rem;
            height: 168rem;
            left: 56rem;
            top: 88rem;
        }
        @include mixin.tablet{
            @include mixin.font(700,48rem,56rem);
            width: 616rem;
            height: 168rem;
            left: 24rem;
            top: 72rem;
        }
        @include mixin.phone{
            @include mixin.font(700,24rem,32rem);
            width: 328rem;
            height: 96rem;
            top: 48rem;
            left: 16rem;

        }
    }
    &__text-small {
        position: absolute;
        top: 368rem;
        left: 232rem;
        width: 399rem;
        height: 32rem;
        @include mixin.font(400,20rem,32rem);
        @include mixin.flex(none,none,center);
        color: #44454B;
        @include mixin.laptop{
            top:280rem;
            left: 56rem;
        }
        @include mixin.tablet{
            top: 264rem;
            left: 24rem;
        }
        @include mixin.phone{
        @include mixin.font(400,16rem,24rem);

            width: 328rem;
            height: 24rem;
            top: 160rem;
            left: 16rem;
        }
    }
    &__buttons {
        position: absolute;
        top: 440rem;
        left: 232rem;
        @include mixin.flex(row,none,flex-start);
        gap: 24rem;
        width: 611rem;
        height: 56rem;
        @include mixin.laptop{
            left: 56rem;
            top: 352rem;

        }
        @include mixin.tablet{
            left: 24rem;
            top: 336rem;
        }
        @include mixin.phone{
            flex-direction: column;
            width: 328rem;
            height: 128rem;
            top: 224rem;
            left: 16rem;
            gap: 16rem;

        }

    }
    &__consultation {
        width: 279rem;
        height: 56rem;
        @include mixin.phone{
            width: 328rem;
        }
    }
    &__tender {
        width: 308rem;
        height: 56rem;
        @include mixin.phone{
            width: 328rem;
        }
    }
    &__ilustration {
        position: relative;
        width: 831rem;
        left: 1089rem;
        @include mixin.laptop{
            width: 644rem;
            height: 568rem;
            top: 16rem;
            left: 722rem;

        }
        @include mixin.tablet{
            width: 734.9998779296875rem;
            height: 568rem;
            top: 504rem;
            left: 9rem;
        }
        @include mixin.phone{
            width: 338.0000305175781rem;
            height: 280rem;
            top: 424rem;
            left: 6rem;

        }
    }
    &__shadow-of-the-castle {
        position: relative;
        width: 1920rem;
        top: -364rem;
        z-index: -100;
        @include mixin.laptop{
            width: 1366rem;

        }
        @include mixin.tablet{
            width: 768rem;
            height: 176rem;
            top: 368rem;
            left: -87rem;
        }
        @include mixin.phone{
            width: 360rem;
            height: 176rem;
            top: 368rem;
            left: -87rem;
        }
    }
}
