@use "../general/mixin";
.feedback{
    width: 1920rem;
    height: 712rem;
    position: relative;
    display: flex;
    @include mixin.laptop{
        width: 1366rem;
    }
    @include mixin.tablet{
        flex-direction: column;
        width: 768rem;
        height: 1066rem;
    }
    @include mixin.phone{
        flex-direction: column;
        width: 360rem;
        height: 744rem;
    }
    &__ilustration{
        position: relative;
        width: 706rem;
        height: 736rem;
        left: 0rem;
        top: -40rem;
        @include mixin.laptop{
            width: 544rem;
            height: 568rem;
            top: 96rem;
        }
        @include mixin.tablet{
            width: 737rem;
            height: 584rem;
            left: 6rem;
            order: 1;
            top: 100rem;
        }
        @include mixin.phone{
            width: 338rem;
            height: 280rem;
            left: 6rem;
            top: 200rem;
            order: 1;

        }
    }
    &__hex-1{
        position: absolute;
        width: 194rem;
        height: 226rem;
        left: 512rem;
        top: 94rem;
        border-radius: 3rem;
        @include mixin.laptop{
            width: 150rem;
            height: 174rem;
            top: 103rem;
            left: 394rem;
        }
        @include mixin.tablet{
            width: 141rem;
            height: 165rem;
            top: 55rem;
            left: 0;

        }
        @include mixin.phone{
            width: 66rem;
            height: 76rem;
            top: 24rem;
            left: 0;




        }
    }
    &__hex-2{
        position: absolute;
        width: 401rem;
        height: 471rem;
        left: 0rem;
        top: -40rem;
        @include mixin.laptop{
            width: 310rem;
            height: 363rem;
        }
        @include mixin.tablet{
            width: 373rem;
            height: 441rem;
            left: 19rem;
            top: 0;
        }
        @include mixin.phone{
            width: 171rem;
            height: 202rem;
            left: 10rem;
            top: 0;

        }
    }
    &__hex-3{
        position: absolute;
        width: 257rem;
        height: 303rem;
        left: 428rem;
        top: 88rem;
        @include mixin.laptop{
            width: 199rem;
            height: 234rem;
            top: 98rem;
            left: 329rem;
        }
        @include mixin.tablet{
            width: 200rem;
            height: 234rem;
            top: 350rem;
            left: 303rem;
        }
        @include mixin.phone{
            width: 101rem;
            height: 118rem;
            top: 162rem;
            left: 136rem;
        }
    }
    &__hex-4{
        position: absolute;
        width: 308rem;
        height: 362rem;
        left: 259rem;
        top: 334rem;
        border-radius: 3rem;
        transform: matrix(-1, 0, 0, 1, 0, 0);
        @include mixin.laptop{
            width: 238rem;
            height: 279rem;
            top: 289rem;
            left: 200rem;
        }
        @include mixin.tablet{

            width: 323rem;
            height: 379rem;
            top: 46rem;
            left: 414rem;
        }
        @include mixin.phone{
            width: 145rem;
            height: 171rem;
            top: 23rem;
            left: 192rem;
        }
    }
    &__form{
        position: relative;
        width: 464rem;
        height: 384rem;
        left: 270rem;
        // top: 96rem;
        // display: none;
        @include mixin.laptop{
            width: 402rem;
            left: 155rem;
        }
        @include mixin.tablet{
            width: 468rem;
            height: 378rem;
            // top: 56rem;
            left: 150rem;
            order: 0;

        }
        @include mixin.phone{
            width: 328rem;
            height: 328rem;
            top: 48rem;
            left: 16rem;
            order: 0;

        }
        &__heading{
            position: absolute;
            width: 464rem;
            height: 64rem;
            @include mixin.font(700,56rem,64rem);
            @include mixin.flex(row,none,center);
            font-family: 'Rubik';
            letter-spacing: -0.02em;
            color: #2244AA;
            @include mixin.phone{
                @include mixin.font(700,24rem,32rem);
                width: 178rem;
            }

        }
        &__text{
            position: absolute;
            width: 378rem;
            height: 96rem;
            left: 0rem;
            top: 80rem;
            @include mixin.font(400,20rem,32rem);
            color: #44454B;
            @include mixin.phone{
                width: 314rem;
                @include mixin.font(700,16rem,24rem);
            }
        }
        &__fieldgroup{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0rem;
            gap: 8rem;
            position: absolute;
            width: fit-content;
            height: 88rem;
            left: 0rem;
            top: 216rem;

        }
        &__span{
            width: fit-content;
            height: 24rem;
            @include mixin.font(400,16rem,24rem);
            font-feature-settings: 'ss01' on;
            color: #2F2F2F;

        }
        &__input{

            @include mixin.flex(none,none,flex-start);
            box-sizing: border-box;
            padding: 16rem;
            width: 464rem;
            height: 56rem;
            background: #FFFFFF;
            border: 1rem solid #CBDDFF;
            border-radius: 4rem;
            @include mixin.laptop{
                width: 402rem;
            }
            @include mixin.tablet{
                width: 468rem;
            }
            @include mixin.phone{
                width: 328rem;
            }
        }
        &__button{
            @include mixin.flex(row,center,center);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 16rem 24rem;
            gap: 4rem;
            position: absolute;
            width: 464rem;
            height: 56rem;
            left: 0rem;
            top: 328rem;
            background: #2244AA;
            border-radius: 6rem;
            @include mixin.laptop{
                width: 402rem;
            }
            @include mixin.tablet{
                width: 468rem;
            }
            @include mixin.phone{
                width: 328rem;
            }
        }
    }
    &__shadow-of-the-castle{
        position: absolute;
        width: 1920rem;
        top: 364rem;
        z-index: -1000;
        @include mixin.laptop{
            width: 1366rem;
        }
        @include mixin.tablet{
            width: 768rem;
            height: 176rem;
            top: 382rem;
            left: -88rem;
        }
        @include mixin.phone{
            width: 360rem;

        }
    }
}
