@forward "advantages";
@forward "clients";
@forward "cover";
@forward "feedback";
@forward "priority";
@forward "projects";
@forward "service-info";
@forward "staff";
@forward "thanks";
@forward "vacancy";
.content {
    display: flex;
    flex-direction: column;
    gap: 80rem;
}
