@use "../general/mixin";
.vacancy{
    width: 1920rem;
    height: 1068rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 48rem;

    &__heading{
        position: relative;
        width: 200rem;
        height: 48rem;
        left: 232rem;
        @include mixin.font(700,40rem,48rem);
        @include mixin.flex(none,none,center);
        font-family: 'Rubik';
        color: #2244AA;
    }
    &__cards {
        display: flex;
        flex-direction: row;
        gap: 32px;
    }
    &__card {
        box-sizing: border-box;
        @include mixin.font(400,20rem,32rem);
        @include mixin.flex(column,space-between,flex-start);
        padding: 56rem 48rem;
        gap: 40rem;

        position: relative;
        width: 712rem;
        height: 952rem;
        left: 232rem;

        background: #F2F8FF;
        border-radius: 8rem;
        &_info {
            display: flex;
            flex-direction: column;
            gap: 40rem;
        }
    }
    &__name{
        @include mixin.flex(column,none,flex-start);
        padding: 0rem;
        gap: 8rem;

        width: 616rem;
        height: 80rem;

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }
    &__prof{
        width: 616rem;
        height: 40rem;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 700;
        font-size: 32rem;
        line-height: 40rem;

        display: flex;
        align-items: center;


        color: #2F2F2F;


        /* Inside auto layout */
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;

    }
    &__p{
        width: 616rem;
        height: 32rem;

        font-style: normal;
        font-weight: 400;
        font-size: 20rem;
        line-height: 32rem;

        display: flex;
        align-items: center;

        color: #2244AA;

        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;

    }
    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 32px;

        width: 616px;
        height: 632px;

        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;

    }
    &__element {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0rem;
        gap: 16rem;

        width: 616rem;
        height: fit-content;

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }
    &__h {
        width: 616rem;
        // height: 32rem;

        font-family: 'Rubik';
        font-style: normal;
        font-weight: 700;
        font-size: 24rem;
        line-height: 32rem;
        letter-spacing: -0.02em;

        color: b;

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;

    }
    &__ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0rem;
        gap: 8rem;

        width: 616rem;
        height: fit-content;

        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;

    }
    &__li {
        list-style-type: disc;
        position: relative;
        left: 20rem;
        padding: 0px;
        gap: 16px;

        width: 616px;
        height: 24px;

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        &::marker {
            color: #2F2F2F;
        }
    }
    &__button {
        // justify-self: flex-end;
        order: 1;
        width: 219rem;
        height: 56rem;
    }
    &__pattern {
        position: absolute;
        z-index: -100;
        width: 392px;
        height: 446px;
        left: 1528px;
        top: 183px;

        transform: matrix(-1, 0, 0, 1, 0, 0);

    }
}
